.thumbs-up
{
    color: #6f5df7 !important;
}

.thumbs-down, .negative-vote, .remove-suggestion-comment-button, .close span
{
    color:red !important;
}

.default-vote
{
    color : white !important
}
.positive-vote, .positive-comment-count
{
    color : rgba(0,255,0);
}

.thumbs-up,
.thumbs-down,
.default-vote,
.remove-suggestion-button,
.comment-suggestion-button,
.suggestion-comment,
.remove-suggestion-comment-button,
.close span
{
    transition: all .2s ease-in-out;
}

.thumbs-up:hover,
.thumbs-down:hover,
.create-suggestion-button:hover,
.remove-suggestion-button:hover,
.comment-suggestion-button:hover,
.suggestion-comment:hover,
.remove-suggestion-comment-button:hover,
.close span:hover
{
    transform: scale(1.15);
    cursor: pointer;
    -webkit-filter: brightness(1.5);
    -moz-filter: brightness(1.5);
    -ms-filter: brightness(1.5);
    filter: brightness(1.5);
}

.vote-text,
.suggestion,
.create-suggestion,
.create-suggestion-button,
.suggestion-comment-count
{
    background : transparent !important;
    font-size: 17px;
    font-family: Diablo;
    text-align: center;
    font-weight: 100;
    text-align: justify;
}

.show-comments-modal,
.modal-content,
.modal-body,
.close
{
    background-color : rgba(1,1 ,1,0.8) !important;
    font-size: 17px;
    font-family: Diablo;
    text-align: center;
    font-weight: 100;
    color : white;
}

.comment-modal-content
{
    background-color : rgba(1,1 ,1,0.8) !important;
    border: 0.05em solid red !important;
}

.create-suggestion,
.create-suggestion-comment
{
    color : white !important;
    background-color : rgba(1,1 ,1,0.8) !important;
    margin-top : 10px !important;
    margin-right : 15px !important;
    margin-left : 15px !important;
    padding-left : 10px !important;;
    border: 0.05em solid white !important;
    box-shadow: 2px 2px 4px 0.1px #eb0d26 !important;
    display : inline !important;
}

.create-suggestion:hover,
.create-suggestion-comment:hover
{
    border: 0.05em solid white !important;

}

.create-suggestion-button,
.create-suggestion-comment-button
{
    color : rgba(0,255,0) !important;
    transition: all .2s ease-in-out;
    margin-right : 15px !important;
    margin-top : 10px !important;
    background-color : rgba(1,1 ,1,0.8) !important;
    border: 0.05em solid white !important;
    box-shadow: 2px 2px 4px 0.1px #eb0d26 !important;
}

.create-suggestion-container,
.create-suggestion-comment-container
{
    display: flex;
    justify-content: space-between;
}

.create-suggestion-button:hover,
.create-suggestion-comment-button:hover
{
    transform: scale(1.1);
    cursor: pointer;
}
.dataTables_info
{
    display : none;
}

.my-suggestion
{
    color : yellow !important;
}


@media (max-width: 787px) {
    .vote-text,
    .suggestion,
    .create-suggestion,
    .create-suggestion-button,
    .suggestion-comment-count,
    .comment-modal-content,
    .create-suggestion-comment,
    .create-suggestion-comment-button
    {
        font-size:  0.75rem !important;
    }

    .suggestion-comment-title h4
    {
        font-size:  .95rem !important;
    }

    td, .suggestion
    {
        padding-left : 6px !important;
        padding-right : 6px !important;
    }

}