.thumbs-up
{
    color: #6f5df7 !important;
}

.thumbs-down, .negative-vote
{
    color:red !important;
}

.default-vote
{
    color : white !important
}
.positive-vote
{
    color : rgba(0,255,0);
}

.thumbs-up, .thumbs-down, .default-vote
{
    transition: all .2s ease-in-out;
}

.thumbs-up:hover, .thumbs-down:hover, .default-vote:hover
{
    transform: scale(1.1);
    cursor: pointer;
}

@font-face
{
    font-family: Diablo;
    src: url(../../avqest.ttf);
}

.vote-text,
.suggestion,
.create-suggestion,
.create-suggestion-button
{
    background : transparent !important;
    font-size: 17px;
    font-family: Diablo;
    text-align: center;
    font-weight: 100;
}
.create-suggestion
{
    color : white !important;
    background-color : rgba(1,1 ,1,0.8) !important;
    margin-top : 10px !important;
    margin-right : 15px !important;
    margin-left : 15px !important;
    padding-left : 10px !important;;
    border: 0.05em solid white !important;
    box-shadow: 2px 2px 4px 0.1px #eb0d26 !important;
    display : inline !important;
    }

.create-suggestion-button
{
    color : rgba(0,255,0) !important;
    transition: all .2s ease-in-out;
    margin-top : 10px !important;
    height: 38px;
    margin-right : 15px !important;
}

.create-suggestion-container
{
    display: flex;
    justify-content: space-between;
}

.create-suggestion-button:hover
{
    transform: scale(1.1);
    cursor: pointer;
}
.dataTables_info
{
    display : none;
}

.page-link .page-item, .pagination .page-item .page-link
{
    font-size : 1rem !important;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
    padding-right: 6.5px !important;
    padding-left: 6.5px !important;
    margin-left : 2px !important;;
    margin-right : 2px !important;
    margin-top : 1px !important;
}

#suggestion-view .view {
    background-image: url('../../background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 190vh;
}

#suggestion-view .gradient {
    background: -moz-linear-gradient(
            45deg,
            rgba(42, 27, 161, 0.7),
            rgba(210, 29, 133, 0.7) 100%
    );
    background: -webkit-linear-gradient(
            90deg,
            rgba(42, 27, 161, 0.7),
            rgba(210, 29, 133, 0.7) 100%
    );
    background: -webkit-gradient(
            linear,
            90deg,
            from(rgba(42, 27, 161, 0.7)),
            to(rgba(210, 29, 133, 0.7))
    );
    background: -o-linear-gradient(
            90deg,
            rgba(42, 27, 161, 0.7),
            rgba(210, 29, 133, 0.7) 100%
    );
    background: linear-gradient(
            90deg,
            rgba(42, 27, 161, 0.3),
            rgba(210, 8, 4, 0.3) 100%
    );
}

@media (max-width: 787px) {
    #suggestion-view .view {
        min-height: 250vh;
    }
}


@media (max-width: 600px){
    #suggestion-view .view {
        min-height: 400vh;
    }
}
