.shared-search {
    font-family: "Diablo";
    font-size: 15.4px !important;
    color: white !important;
    box-shadow: 2px 2px 4px 0.1px #eb0d26 !important;
    background-color: rgba(1, 1, 1, 0.8) !important;
    border: 0.05em solid white !important;
}
